html {
    background-color: #CEEDDB;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}

body {
    background-color: #6E8894;
    margin: 100px;
    height: 75%;
    border: solid 2px black;
    border-radius: 100px 100px 100px 100px;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    -webkit-text-stroke:2px black;
    color: #CEEDDB;
}

.caixa-intervalo {
    display: inline-block;
    margin-left: 50px;
    width: 400px;
    border: outset 3px white;
    padding: 20px;
    -webkit-text-stroke: 1px black;
    color: #CEEDDB;
    
}

.caixa-intervalo  p {
    font-size: 30px;
    text-align: center;
}

.caixa-intervalo input {
    width: 70px;
    height: 25px;
}

.resultado {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    margin-bottom: 100px;
}

.resultado div {
    display: inline-block;
    font-size: 80px;
    border: solid 3px white;
    padding: 10px;
}

.botao-sortear {
    background-color: white;
    display: block;
    font-size: 50px;
    border: solid 2px black;
    box-shadow: 5px 5px 5px black;
    width: 400px; 
    text-align: center;
    margin-left: 65px;
    -webkit-text-stroke:2px black;
    color: #CEEDDB;
    user-select: none;
}

.botao-sortear:active {
    box-shadow: none;
}

.links {
    position: inline-block;
}
.links button {
    position: fixed;
    margin-left: 100px;
    margin-top: 50px;
    height: 80px;
    width: 80px;
    font-size: 60px;
}
